description = "Blog Layout"

[builderDetails]
modelClass = "Tropa\CapitalForce\Models\CFSetting"
identifierValue = 1
modelKeyColumn = "id"
displayColumn = "social_fb"
notFoundMessage = "Record not found"

[subscriptionform]
==
<!DOCTYPE html>
<html lang="en">

{% partial 'head' %}

<body>

{% partial 'preloader' %}
{% partial 'header-blog' %}

<!-- Main container -->
<main class="main-container">

    <div class="main-content no-padding">
        {% page %}
    </div><!--/.main-content -->

    <!-- Footer -->
    <footer class="site-footer">
        <div class="row">
            {% partial 'footer/copy' %}
            {% partial 'footer/menu' %}
            {% partial 'footer/social' %}
            {% component 'subscriptionform' %}
            {% partial 'footer/address' %}
        </div>
    </footer>
    <!-- END Footer -->
</main>
<!-- END Main container -->

{% partial 'scripts' %}

</body>
</html>