title = "Blog"
url = "/blog/:category?"
layout = "blog"
is_hidden = 0

[blogPosts]
pageNumber = "{{ :page }}"
categoryFilter = ":category"
postsPerPage = 40
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog"
postPage = "post"

[blogCategories]
slug = "{{ :slug }}"
displayEmpty = 0
categoryPage = "blog"

[editable]
==
function onEnd()
{
    if($this->param('category'))
    {
        $results = Rainlab\Blog\Models\Category::where(['slug' => $this->param('category')])->first();
        $this['category_name'] =  $results->name;
    }
}
==

<div class="container-fluid no-padding blog">

    <div class="row justify-content-center mt-20">

        <div class="col-xs-8 col-sm-8 col-md-6">

            {% if this.param.category == "" %}
                <h1 class="mb-30">Recent News</h1>
            {% else %}
                <h1 class="mb-30">{{ category_name }}</h1>
            {% endif %}

            {% component 'editable' file='blog/intro.htm' %}

            {% set posts = blogPosts.posts %}

            {% for post in posts %}
            <div class="post">

                <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                <div class="meta">
                    Posted
                    {% if post.categories.count %} in {% endif %}
                    {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    on {{ post.published_at|date('M d, Y') }}
                </div>

                <img src="{{ 'assets/dist/img/bg-consulting.jpg'|theme }}" alt="">
                
                <p class="excerpt">{{ post.excerpt }}</p>

                <a href="{{ post.url }}" class="btn btn-primary btn-main-red btn-w-md">Read More &gt;</a>

            </div>

            {% else %}
                <p class="no-data">{{ noPostsMessage }}</p>
            {% endfor %}

            {% if posts.lastPage > 1 %}
                <ul class="pagination">
                    {% if posts.currentPage > 1 %}
                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
                    {% endif %}

                    {% for page in 1..posts.lastPage %}
                        <li class="{{ posts.currentPage == page ? 'active' : null }}">
                            <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                        </li>
                    {% endfor %}

                    {% if posts.lastPage > posts.currentPage %}
                        <li><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>

        <div class="col-xs-4 col-sm-4 col-md-2">

            <h2>Categories</h2>

            {% if blogCategories.categories %}
                <ul class="category-list">
                    {% for category in categories %}
                    {% set postCount = category.post_count %}
                    <li {% if category.slug == currentCategorySlug %}class="active"{% endif %}>
                        <a href="{{ 'blog'|page({category:category.slug})}}">{{ category.name }}</a>
                        {% if postCount %}
                        <span class="badge">{{ postCount }}</span>
                        {% endif %}
                    </li>
                    {% endfor %}

                </ul>
            {% endif %}


        </div>
    </div>

</div>