==
<section id="alliance" class="moduler paroller"  data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="horizontal">

    <div class="row justify-content-center mb-40 no-gutters">
        <div class="col-4 pr-20">
            <div class="copy">
                <h1 class="standard mb-20">Alliance</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus porta metus felis, vitae condimentum mauris pretium in. Donec ac sapien semper, aliquet odio eget, facilisis metus. </p>
            </div>
        </div>
        <div class="col-4">
            <div class="row">
                <div class="col-4"><div class="img-wrapper"></div></div>
                <div class="col-4"><div class="img-wrapper"></div></div>
                <div class="col-4"><div class="img-wrapper"></div></div>
            </div>
        </div>
    </div>

</section>