==
<div id="blog" class="quickview">
    <header class="quickview-header">
        <p class="quickview-title lead">Recent News</p>
        <span class="close"><i class="ti-close"></i></span>
    </header>

    <div class="quickview-body ps-container ps-theme-default">
        <div class="module">
            <h2 class="standard">Title</h2>
            <h3 class="standard mb-10">Subtitle</h3>
            <p>Ut ac luctus odio. Sed dignissim, eros ut gravida imperdiet, ligula orci lacinia nulla, vel molestie metus enim sed est. Pellentesque lacinia dictum lobortis. Sed massa risus, consectetur ac pulvinar nec, tincidunt eu tellus.</p>
        </div>
        <div class="module">
            <h2 class="standard">Title</h2>
            <h3 class="standard mb-10">Subtitle</h3>
            <p>Ut ac luctus odio. Sed dignissim, eros ut gravida imperdiet, ligula orci lacinia nulla, vel molestie metus enim sed est. Pellentesque lacinia dictum lobortis. Sed massa risus, consectetur ac pulvinar nec, tincidunt eu tellus.</p>
        </div>

        <div class="text-center">
            <a href="" class="btn btn-primary btn-main-red btn-w-md mt-40">View All &gt;</a>
        </div>
    </div>
</div>