==
<section id="contact" class="moduler paroller"  data-paroller-factor="0.1" data-paroller-type="foreground" data-paroller-direction="horizontal">

    <div class="row justify-content-center mb-40 no-gutters">
        <div class="col-12 text-center mt-40">
            <h1 class="standard">Contact Us</h1>
        </div>
    </div>

    <div class="row justify-content-center no-gutters">
        <div class="col-8">
            <div class="alert alert-danger" role="alert">
                This is a danger alert—check it out!
            </div>
            <div class="alert alert-success" role="alert">
                This is a danger alert—check it out!
            </div>
        </div>
    </div>

    <div class="row justify-content-center mb-40 no-gutters">
        <div class="col-4 p-15">
            <div class="form-group">
                <label for="input-normal">Nombre</label>
                <input type="text" name="name" class="form-control" id="input-name" placeholder="Nombre">
            </div>
            <div class="form-group">
                <label for="input-normal">E-mail</label>
                <input type="text" name="email" class="form-control" id="input-email" placeholder="Correo Electrónico">
            </div>
            <div class="form-group opt-in">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="input-opt-in">
                    <label class="custom-control-label" for="cc-1">Suscribirme al newsletter</label>
                </div>
            </div>
        </div>
        <div class="col-4 p-15">
            <div class="form-group">
                <label for="input-normal">&nbsp;</label>
                <textarea class="form-control" name="message" id="input-message" placeholder="Escribe tu mensaje..."></textarea>
            </div>
            <div class="form-group">
                <button href="" class="btn btn-primary btn-main-red btn-w-md submitter">Enviar</button>
            </div>
        </div>
    </div>

</section>