<header class="topbar inverted scrollable">
    <div class="topbar-left">


        <div class="topbar-title logo logo-small">
            <a href="{{ 'homepage'|page }}" class="navigator"><img src="{{ 'logo-small.svg'|media }}" alt=""></a>
        </div>

    </div>

    <div class="topbar-right">
        <nav class="topbar-navigation">
            <ul class="menu">

                <li class="menu-item active"><a class="menu-link navigator" href="#home"><span class="title">Home</span></a></li>
                <li class="menu-item"><a class="menu-link navigator" href="#consulting"><span class="title">Consulting</span></a></li>
                <li class="menu-item"><a class="menu-link navigator" href="#treasury"><span class="title">Treasury</span></a></li>
                <li class="menu-item"><a class="menu-link navigator" href="#it"><span class="title">IT Delivery</span></a></li>
                <li class="menu-item"><a class="menu-link navigator" href="#alliance"><span class="title">Alliance</span></a></li>
                <li class="menu-item"><a class="menu-link navigator" href="#ai"><span class="title">AI</span></a></li>
                <li class="menu-item"><a class="menu-link navigator" href="#contact"><span class="title">Contact</span></a></li>
                <li class="menu-item"><a class="menu-link notifications" href="#"><i class="title fa fa-bell"></i></a></li>
            </ul>
        </nav>
    </div>
</header>

<header class="mobile">
    <div class="opener">
        <i class="fas fa-bars open"></i>
        <i class="fas fa-times close"></i>
    </div>
    <div class="items">
        <ul class="menu">
            <li class="menu-item active"><a class="menu-link navigator" href="#home"><span class="title">Home</span></a></li>
            <li class="menu-item"><a class="menu-link navigator" href="#consulting"><span class="title">Consulting</span></a></li>
            <li class="menu-item"><a class="menu-link navigator" href="#treasury"><span class="title">Treasury</span></a></li>
            <li class="menu-item"><a class="menu-link navigator" href="#it"><span class="title">IT Delivery</span></a></li>
            <li class="menu-item"><a class="menu-link navigator" href="#alliance"><span class="title">Alliance</span></a></li>
            <li class="menu-item"><a class="menu-link navigator" href="#ai"><span class="title">AI</span></a></li>
            <li class="menu-item"><a class="menu-link navigator" href="#contact"><span class="title">Contact</span></a></li>
            <li class="menu-item"><a class="menu-link notifications" href="#"><span class="title">Blog</span></a></li>
        </ul>
    </div>
</header>