<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Capital Force - {{ this.page.title }} </title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,300i" rel="stylesheet">

    <!-- Styles -->
    <link href="{{ 'assets/vendor/css/core.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/vendor/css/app.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/vendor/css/style.min.css'|theme }}" rel="stylesheet">
    <link href="{{ 'assets/dist/css/styles.css'|theme }}" rel="stylesheet">

    <!-- Favicons -->
    <link rel="icon" href="{{ 'favicon.png'|media }}">

    {% styles %}

</head>