[editable]
==
<section id="it" class="moduler paroller"  data-paroller-factor="0.1" data-paroller-type="foreground" data-paroller-direction="horizontal">

    <div class="row justify-content-center mb-40 no-gutters">
        <div class="col-xs-12 col-sm-12 col-md-4 p-20">
            <div class="copy">
                {% component 'editable' file='it-delivery/intro.htm' %}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="img-wrapper"></div>
        </div>
    </div>


    <div class="row justify-content-center mb-40 no-gutters proven">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="img-wrapper"></div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 p-20">
            <div class="copy">
                {% component 'editable' file="it-delivery/proven.htm" %}
            </div>
        </div>

    </div>

</section>