[builderList]
modelClass = "Tropa\Treasury\Models\Treasury"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "title"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[editable]
==
<section id="treasury" class="moduler">

    <div class="row justify-content-center mb-40 no-gutters paroller" data-paroller-factor="0.1" data-paroller-type="foreground" data-paroller-direction="horizontal">
        <div class="col-4 p-20">
            <div class="body">
                <div class="copy">
                    {% component 'editable' file='treasury/intro.htm' %}
                </div>

                <div class="highlight">
                    <div class="row no-gutters">
                        <div class="col-2">
                            <img src="{{ 'logo-small-color.svg'|media }}" alt="">
                        </div>
                        <div class="col-10">
                            {% component 'editable' file='treasury/bottom.htm' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="img-wrapper"></div>
        </div>
    </div>

    {% set records = builderList.records %}
    {% set displayColumn = builderList.displayColumn %}
    {% set noRecordsMessage = builderList.noRecordsMessage %}
    {% set detailsPage = builderList.detailsPage %}
    {% set detailsKeyColumn = builderList.detailsKeyColumn %}
    {% set detailsUrlParameter = builderList.detailsUrlParameter %}

    <div class="row justify-content-center mod no-gutters paroller"  data-paroller-factor="-0.1" data-paroller-type="foreground" data-paroller-direction="horizontal">
        <div class="col-4">
            <div class="row no-gutters">

                {% for record in records %}
                <div class="col-6 bt no-padding mb-15 {{ loop.index == 1 ? 'active' : '' }}" data-target="{{ record.slug }}">
                    <div class="title">
                        <h3 class="center-vh">{{ record.title }}</h3>
                    </div>
                    <div class="icon" style="background: #fff url('{{ record.image.path }}') no-repeat 50% 50%"></div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="col-4">
            {% for record in records %}
            <div class="copy {{ loop.index == 1 ? 'active' : '' }}" id="{{ record.slug }}">
                <h2 class="standard">{{ record.title }}</h2>
                <h3 class="standard mb-40">{{ record.subtitle }}</h3>
                {{ record.intro|raw }}
            </div>
            {% endfor %}
        </div>
    </div>

</section>